.App {
  background: rgb(80, 115, 227);
  background: linear-gradient(
    11deg,
    rgba(80, 115, 227, 0.7906512946975666) 7%,
    rgba(17, 161, 170, 0.7458333675266982) 92%,
    rgba(162, 170, 17, 0.5018557764902836) 99%
  );

  margin: 0;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: auto;
}

.pigeon {
  width: 6em;
  border-radius: 50%;
}

.pigeonLarge {
  max-width: 80%;
}
h1 {
  margin: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 4rem;
}

p {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .App {
    font-size: 14px;
    padding: 1rem;
  }
  header {
    max-width: 90%;
  }
  h1 {
    font-size: 3em;
  }

  .pigeon {
    width: 4em;
    border-radius: 50%;
  }
}
