.btn {
  margin: 1em;
  border-radius: 15px;
  padding: 0.5em 1em;
  color: rgb(80, 115, 227);
  font-weight: 600;
  border: none;
  -webkit-box-shadow: 4px 5px 10px 0px rgba(7, 2, 41, 0.45);
  -moz-box-shadow: 4px 5px 10px 0px rgba(7, 2, 41, 0.45);
  box-shadow: 4px 5px 10px 0px rgba(7, 2, 41, 0.45);
}

.btn:hover {
  background-color: rgb(111, 255, 176);
  transition: ease 0.3s;
  -webkit-box-shadow: 2px 3px 7px 0px rgba(7, 2, 41, 0.45);
  -moz-box-shadow: 2px 3px 7px 0px rgba(7, 2, 41, 0.45);
  box-shadow: 2px 3px 7px 0px rgba(7, 2, 41, 0.45);
  transform: scale(0.99);
}
